extends layout

block content
  h1 Contact Us
  form(action="/contact" method="POST")
    label(for="name") Name:
    input(type="text" name="name" required)
    label(for="email") Email:
    input(type="email" name="email" required)
    label(for="message") Message:
    textarea(name="message" required)
    button(type="submit") Send

